@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');

* {
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  
} 

a {
  color: #2f2c2c;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.history {
  background-image: url("../assets/img/parched.jpg");
  background-repeat: repeat-y;
  color: black;
  font-size: calc(12px + 0.5vw);
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
}

.history p {
  width: 100%;
  position: static;
  padding: 20px;
}

.history ul {
  width: 90%;
  position: relative;
  left: 5%;
  padding-bottom: 10px;
}

li {
  text-align: left;
}

.history h2 {
  padding-top: 50px;
  color: black;
  font-family: 'Cedarville Cursive', cursive;
  font-size: calc(18px + 1vw);
}

.history h3 {
  padding-top: 30px;
  color: black;
  font-family: 'Cedarville Cursive', cursive;
  font-size: calc(16px + 0.75vw);
}

.history img {
  width: 100%;
  margin: 30px auto;
}

.history ul:last-of-type {
  padding-bottom: 50px;
}

/* Fk care all the timeline css for now. */

.timeline * {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
}

.timeline {
  width: 100%;
  padding: 20px;
  position:relative;
  box-sizing: border-box;
  background: #666;
  max-width: 800px;
  margin: 10px auto;
  box-shadow: 0px 1px 2px 2px rgba(0,120,210, 0.1);
}

.timeline:before {
  position: absolute;
  width: 4px;
  height: calc(100% - 40px);
  background: #86bc1c;
  content: "";
  left: calc(80% - 14px);
  box-shadow: 0px 0px 2px 2px rgba(0,0,0, 0.2);
}
.timeline-title {
  font-size: 1.5em;
  font-weight: bold;
  
}
.timeline-content {
  width: calc(80% - 70px);
  padding: 20px;
  background: rgb(0, 119, 199);
  position: relative;
  left: 20px;
  min-height: 100px; 
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0, 0.2);
}
.timeline-content:before {
  width: 20px;
  height: 20px;
  content: "";
  text-align: center;
  font-weight: bold;
  background: #86bc1c;
  position: absolute;
  right: -60px;
  border-radius: 50%;
  top: calc(50% - 10px);
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0, 0.2);
}

.timeline-content:after {
  content: "";
  left: 100%;
  width: 50px;
  border-top: 2px dashed #86bc1c;
  position: absolute;
  top: calc(50% - 1px);
}
.timeline-period {
  left: calc(100% + 70px);
  position: absolute;
  display: inline-block;
  background: rgb(210, 50, 30);
  padding: 10px;
  white-space: nowrap;
  border-radius: 10px;
  top: calc(50% - 19px);
  font-style: italic;
  font-size: 0.9em;
  font-weight: bold;
  color: #EEE;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0, 0.2);
}
.timeline-period:before {
  content: "";
  left: -12px;
  width: 6px;
  border: 6px dashed transparent;
  position: absolute;
  top: calc(50% - 6px);
  border-right: 6px solid rgb(210, 50, 30);
}

/* just add this class to hide an element */
.hide {
  display: none;
}

@media screen and (min-width: 1024px) {
  .timeline-content:nth-child(even) {
    left: calc(50% + 50px); 
  }
  .timeline-content:nth-child(even):before {
    right: auto;
    left: -60px;
  }
  .timeline-content:nth-child(even):after {
    right: auto;
    left: -50px;
  }
  .timeline-content:nth-child(even) .timeline-period {
    right: calc(100% + 70px);
    left: auto;
  }

  .timeline-content:nth-child(even) .timeline-period:before {
    left: 100%;
    border-right-color: transparent;
    border-left-color: #FFF;
  }
  .timeline-content {
    width: calc(50% - 70px);
  }
  
  .timeline:before {
    left: calc(50% - 2px);
  }

  .history p {
    width: 90%;
    left: 5%;
    position: relative;
  }

  .history ul {
    width: 80%;
    position: relative;
    left: 10%;
    padding-bottom: 10px;
  }
  
  .history img {
    width: 90%;
    margin: 30px auto;
  }
}
