.single {
    display: none;
}

.double {
    display: block;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
}

/* Portrait for width up to 600px*/
@media screen and (orientation:portrait) and (max-width: 600px) {
    /* Portrait styles for width up to 600px*/
    .single {
        height: 100vh;
        width: calc(100vw - (100vw - 100%));
        display: block;
    }
    .double {
        display: none;
    }
}

/* Landscape for height up to 600px*/
@media screen and (orientation:landscape) and (max-height: 600px) {
    /* Landscape styles for height up to 600px*/
    .single {
        display: none;
    }
    .double {
        display: block;
        height: 100vh;
        width: calc(100vw - (100vw - 100%));
    }
}