/* global variables */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --desktop-box-width: 200px;
  --halfway-box-width: 25vw; 
  --mobile-box-width: 40vw;
}

body {
  background-color: #fff !important;
}
/* end global variables */

/* style for content between menu and the footer */
.container {
  background-color: #ffffff;
  padding-left: 5vw; /* only for desktop */
}
/* end style for content between menu and footer */

/* style for filter buttons */
.filter-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 30%;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.filter-buttons button {
  font-size: 3vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-right: 1vh;
  border: 0px solid black;
  border-radius: 16px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: all 0.3s; /* Safari */
  transition: all 0.3s;
  background: #ccc;
  /* box-shadow: 1px 2px 1px; */
}

.filter-buttons button:hover {
  cursor: pointer;
}

#getRSP:hover {
  background-color: #4CAF50;
  color: white;
}

#getSP:hover {
  background-color: blue;
  color: white;
}

#getSC:hover {
  background-color: red;
  color: white;
}

#getAll:hover {
  background-color: #111;
  color: white;
}

/* end style for filter buttons */

/* style for the search icon in the overlay */
.box span {
  border: solid 2px #fff;
  padding: 10px 12px;
  border-radius: 50%;
}
/* end style for search icon */

/* style for project boxes */
.grid {
  display: flex;
  flex-direction: row;
}

.box {
    height: var(--desktop-box-width);
    width: var(--desktop-box-width);
    margin-right: 5px;
    overflow: hidden;
    line-height: var(--desktop-box-width);
    color: #fff;
    font-size: 16px;
    display: block;
}
/* end style for project boxes */

/* style for info box */
#info-box {
  margin-top: 10vh;
  text-align: center;
  padding-bottom: 10vh;
  visibility: hidden;
  max-width: 90vw;
}

#info-box h2 {
  color: #111;
  font-family: 'Open Sans', sans-serif;
}

#info p {
  color: #222;
  font-family: 'Open Sans', sans-serif;
}

.item {
  /* max-height: 60vh; */
  background: #eee;
}

.item img {
  max-height: 50vh;
  width: auto !important;
  margin: 0 auto;
}

#contact-buttons {
  font-size: 30px;
}

#contact-buttons i {
  /* margin-right: 5vw;
  margin-left: 5vw; */
}

/* end style for info box */

/* Media query for fitting into smaller screens */
@media screen and (max-width: 600px) {
    .box {
      height: var(--mobile-box-width);
      width: var(--mobile-box-width);
      line-height: var(--mobile-box-width);
    }

    .container {
      padding-left: 5vw;
      padding-right: 5vw;
    }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .box {
    height: var(--halfway-box-width);
    width: var(--halfway-box-width);
    line-height: var(--halfway-box-width);
  }

  .container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
/* end media query */

/* styles for directed hovering effect */
.box__right, .box__left, .box__top, .box__bottom {
    position: absolute;
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: inherit;
    transition: transform .4s ease;
    color: #fff;
    cursor: pointer;
}

.box__right, .box__left, .box__top, .box__bottom {
    background: rgba(35, 32, 30, 0.7);
}

.box__right:before, .box__left:before, .box__top:before, .box__bottom:before, .box__center:before {
    position: absolute;
    content: '';
    /*
     * Calculation:
     *      ____a____
     *    /|\        |
     *   b | \       |
     *  /  a  \      |
     *  \  |  /      |
     *   \ | /       |
     *    \|/________|
     *
     *  a^2 = b^2+b^2
     *
     *  solve to b:
     *
     *  a^2         = 2b^2 | /2  
     *  a^2 / 2     =  b^2 | sqrt
     *  a / sqrt(2) =  b
     *
     * Percentage: 
     * a = 100%
     * 100 / sqrt(2) = 70.71%
     *                 ------
     */
    width: 70.71%;
    height: 70.71%;
    transform: rotate(45deg);
}


.box__right:hover, .box__left:hover, .box__top:hover, .box__bottom:hover, .box__center:hover {
    transform: translateX(0);
    z-index: 1;
}
.box__right:hover:before, .box__left:hover:before, .box__top:hover:before, .box__bottom:hover:before, .box__center:hover:before {
  width: 100%;
  height: 100%;
  transform: none;
}

.box__right {
  transform: translateX(100%);
}
.box__right:before {
  right: 100%;
  bottom: 0;
  transform-origin: 100% 100%;
}

.box__left {
  transform: translateX(-100%);
}
.box__left:before {
  left: 100%;
  transform-origin: 0 0;
}
.box__left:hover, .box__right:hover {
  transform: translateX(0%);
}

.box__top {
  transform: translateY(-100%);
}
.box__top:before {
  top: 100%;
  right: 0;
  transform-origin: 100% 0;
}

.box__bottom {
  transform: translateY(100%);
}

.box__bottom:before {
  bottom: 100%;
  left: 0;
  transform-origin: 0 100%;
}

.box__bottom:hover, .box__top:hover { 
  transform: translateY(0%);
}

.box__center {
  background: orange;
  z-index: -1;
}
/* end styles for hovering effect */